createdAt: "2019-12-09T23:51:23.979Z"
updatedAt: "2020-08-04T03:25:18.747Z"
type: "MARKDOWN_NOTE"
folder: "d464926e49d183704d56"
title: "Social Network Data and it's business impact (SNA)"
content: '''
  ## Social Network Data and it's business impact (SNA)
  
  Social network data is generated when people comunicate or socialize through social media.
  
  ![Screen Shot 2019-12-11 at 9.16.08 PM.png](:storage/4e152757-7de9-4fc6-8a3e-3a7e1b875bd9/6f760566.png)
  
  Usual Analytics Approaches:
  
  - Social Graphs.
  
  Social Network Data can help organizations in:
  
  - Business intelligence.
  - Marketing.
  - Product Desing and Development.
  
  ![Screen Shot 2019-12-11 at 9.19.51 PM.png](:storage/4e152757-7de9-4fc6-8a3e-3a7e1b875bd9/68bc8cd2.png)
  
  ## Social Media Analytics and Text Mining
  
  ### what is social media ?
  
  Social network is a collection of people bound together through a specific set of social relations. Social media has proved itself to be one of the most powerful solutions for  the  open-system  approach  and  can  exchange  content  very  effectively.
  
  Social  media  has  completely  changed  the  way  we  communicate  and  develop  relationships.  It  represents  a  fusion  of  innovative  technology  and  sociology  that  encourages  active  participation  in  the  development  and  spreading  of  information  across  the  globe  in real time.
  
  Online  social  networking  has  immense  potential  as  a  marketing  tool  because  of  its  advanced  level  of  user  interaction  and  a  wide  variety  of  content  publishing  tools.  Popular  channels  of  online  social  media  include  **Google+, facebook, Myspace, twitter, linkedin, and delicious**.
  
  Social media offers a collaborative environment that can be used for:
  
  - Building relationships.
  - Distributing content.
  - Rating products and services.
  - Engaging target audience.
  
  Some major functions that social media performs are as follows:
  
  - receiving feedback.
  - Promoting dialogue between the customers, potential customers, and organizations.
  
  ![Screen Shot 2020-04-14 at 1.01.11 AM.png](:storage/4e152757-7de9-4fc6-8a3e-3a7e1b875bd9/c1ba4ee2.png)
  
  ### Social Analytics, Metrics, and Measurement
  
  Creating the appropriate social analytics metric for an organization requires an understanding of the overall business goals and aspirations. In addition, an understanding of the internal objectives and consumer initiatives of the organization is also essential.
  
  For  any  social  media  activity  to  be  useful,  its  outcome  should  be  translated  into  **measurable metrics** and **performance indicators**.
   
  Depending on business requirements, different metrics for  different  organizations  or  individuals  are  used  to  assess  the  performance  of  social  media  analytics.  For  example,  in  the  case  of  a  customer  relationship  executive  or  sales  executive,  the  indicators  are  revenue,  market share, and customer satisfaction, whereas for HR executive, it is social recruitments.
  
  **Social Media Analytics Tools**
  
  Social media analytics tools are tools which provide an opportunity to track the impact of social media activities on the overall performance of a business. These tools help to monitor several networking sites in real time. The outcomes are presented in the form of graphs, tables, and piecharts for quick and easy analysis and interpretation.
  
  **Social Media Analytics and Business Decisions**
  
  Social networking sites have emerged as a leading force for customer engagement and interaction. In the past few  years,  the  popularity  of  social  networking  sites  has  grown  immensely  and  today  they  provide  different  ways of keeping customers engaged. Games, promotional activities, offers, and advertising are commonly used not only by business giants but also small and medium-sized businesses.
  
  Social media has impacted not only the way business is conducted but also rules of marketing. The contrast lies in the simplicity of feedback in direct or traditional marketing campaigns, compared to complexity involved in understanding what is clicking with the audience in case of social networking.
  
  Online marketing campaigns need to be crisp, timely, engaging, and innovative to keep the interest of customers alive.  You  need  to  know  how  your  audience  feels  about  your  marketing  campaign  as  well  as  products  and  services. Social media analysis is thus a critical aspect of social networking.
  
  **Social Media and Customer Engagement**
  
  Putting customer at the center is the most effective business strategy. Organizations are harnessing the power of social media to lure and retain the customers; however, most of the companies are not able to exploit the social media in true sense.
  
  Customer engagement is a strategy that needs consistent and interesting activities on the social networks that is most preferred by your target audience.
  
  Let's understand  the  difference  between  the  terms  engagement,  participation, and lurking:
  
  - engagement: Engagement involves regular customer interactions, which is an ongoing activity. Personal interaction, timely response to feedback, and resolution of queries are effective ways of  keeping  customers  engaged.  The  simple  reason is that retaining existing customers is more difficult and challenging than acquiring new customers.
  
  in  the  Figure,  you  can  see  different  factors  that  are  considered  to  keep  the  customers  engaged for a long time
  
  ![Screen Shot 2020-04-14 at 1.51.49 AM.png](:storage/4e152757-7de9-4fc6-8a3e-3a7e1b875bd9/4f5f83cd.png)
  
  - participating:  Participation within the social media circles is  different  from  engaging.  If  an  organization  or  person  is  not  consistently  visible  on  the  Internet  or  constantly  switching social media channels, then he is participating but  lacking  the  focus  and  direction.  Merely  participation  cannot help in keeping the customers engaged.
  - Lurking: Lurking  refers  to  the  act  of  passively  observing  the  activities  of  your  customers  without  interacting  with  them.
  
  **Key Elements of Social Media Analytics**
  
  - Target audience: a specific group of people within the target market at which a product or the marketing message of a product is aimed at. Target audience is usually selected on the basis of age, gender, marital status, buying behavior, or financial status.
  - Desired Action: The ultimate business objective of an organization is to increase revenue and as a result be profitable. Social Media  Campaigns  are  a  means  organizations  use  to  convert  the  target  audience  into  customers  through  specific "desired actions." This cannot be achieved instantly and therefore organizations need to make their social media presence interesting and persuasive.
  - Content: To  attract  customers  on  social  media,  understanding  the  customers  thoroughly  is  essential.  Their  likes  and  dislikes, behavioral characteristics, etc., must be known; the better the target audience is known and familiar, the higher are the chances of attracting customers and outshining the competition. Social media experts and practitioners agree that **Content is the King**.
  
  Identification and measurement of desired outcome can be achieved through the following steps:
  
  1. First  identify  the  objective  of  the  social  media  campaign,  for  a  robust  social  media  analytics.  Someobjectives that business organizations generally seek from their social media campaign are as follows:
  
  - Brand awareness.
  - Brand analysis.
  - Customer behavior analysis.
  - Prospective customer behavior analysis.
  - Number of existing as well as prospective customers.
  - Financial analysis.
  - Impact of social media on customers.
  - Effectiveness of the social media marketing campaign.
  - Utilize collected data in other marketing campaigns.
  
  **Techniques used in Social Media Analytics**
  
  Social  media  analytics  uses  different  technologies  to  extract  and  compile  useful  information  from  the  unstructured  data  present  on  the  Internet.  An  important  technique  used  for  capturing  **details  is  manual  examination**.  Along  with  manual  examination,  **netnography,  Market  research  online  communities**(MROCs), and panels are used for capturing data.
  
  The following techniques are commonly used for data analysis:
  
  - Factor Analysis.
  - Cluster Analysis.
  - Discreminant Analysis: It is a regression-based statistical technique used in determining an item of data or an object belonging to a particular classification or group on the basis of its characteristics or essential features. It differs from group-building techniques such as cluster analysis in that the classifications or groups to choose from must be known in advance.
  - Conjoint Analysis.
  - Multimensional Scaling.
  
  **Some More Associated Techniques**
  
  - social Media listening: Social media listening refers to the process of monitoring data on different social media channels. The main objective of this technique is to understand feedback of customers on  a  specific  product,  brand,  or  service.
  - social Media scoring: Different social media activities are assigned different numeric values to examine outcomes mathematically. This is an ideal way to compare impact of social media activities on overall performance of a marketing campaig.
  - social Media Modeling: Social  media  modeling  technique  involves  development  of  statistical  models  to  predict  and  measure  the  impact  of  social  media  activities.
'''
tags: []
isStarred: false
isTrashed: false
