createdAt: "2020-05-14T16:39:27.432Z"
updatedAt: "2020-05-14T16:40:49.199Z"
type: "MARKDOWN_NOTE"
folder: "8af9713f3b0695b046b9"
title: "Google Discount Code for Wiley.com Book"
content: '''
  Google Discount Code for Wiley.com Book
  
  `GCW40`
'''
tags: []
isStarred: false
isTrashed: false
