createdAt: "2022-08-29T23:32:11.676Z"
updatedAt: "2022-08-30T01:24:15.038Z"
type: "MARKDOWN_NOTE"
folder: "a41d44d96fbd153c28c9"
title: "ML Systems Designs"
content: '''
  ## ML Systems Designs
  
  TODO: Has los ejercisios y en base a eso creas los cuestionarios
  
  
'''
tags: []
isStarred: false
isTrashed: true
