createdAt: "2019-05-16T16:06:52.970Z"
updatedAt: "2019-09-25T16:15:27.462Z"
type: "MARKDOWN_NOTE"
folder: "8b224285402d815a35a7"
title: "Democratizing Analytics and DS for Continuous Intelligence"
content: '''
  ### Democratizing Analytics and DS for Continuous Intelligence
  
  In this latest Data Science Central webinar, you’ll learn the benefits of:
  
  - Smarter AI-powered analytics.
  - Automated data wrangling workflows.
  - Embedded data science in dashboards.
  - Streaming analytics in dashboards.
  
  
  `Continuos Inteligent`, design pattern in which real-time analytics are integrated into business operations, processing current and historical data to prescribe actions in response business operations.
  
  - Predictive maintenance.
  - IoT Analytics.
  - 
  
  Tibco connects any data, any technology.
  
  TIBO --> Leader on data virtualization, Master Data Management
  
  TIBO --> leader on gartner with data sciences tool.
  
  **Essentials**
  
  - Analytics & Data Science.
  - Alwys on process business.
  
  4 ways to democratize
  
  1. Search Driven Analytics.
  2. AI-Powered Insights.
  3. Embedded Data sCiences
  4. Streaming Analytics and Data Science.
  
  `TIBO - Sportfire`.
'''
tags: []
isStarred: false
isTrashed: false
