createdAt: "2020-10-12T04:46:19.998Z"
updatedAt: "2020-10-14T03:54:30.683Z"
type: "MARKDOWN_NOTE"
folder: "d95c9bc9473d8dba8318"
title: "AI Workflow - EDA"
content: '''
  ## AI Workflow - EDA
  
  
'''
tags: []
isStarred: false
isTrashed: true
