createdAt: "2018-10-10T15:07:28.541Z"
updatedAt: "2018-10-10T15:07:30.351Z"
type: "MARKDOWN_NOTE"
folder: "684eca6ee5c27e941bf4"
title: "NOTA: PREGUNTAR EN LA CLASE DE ASPECTO LEGAL CUALES SON LOS MECANISMOS PERMITIDOS PARA EL CONSENTIMIENTO DEL USO DE LOS DATOS DEL CLIENTE"
content: "NOTA: PREGUNTAR EN LA CLASE DE ASPECTO LEGAL CUALES SON LOS MECANISMOS PERMITIDOS PARA EL CONSENTIMIENTO DEL USO DE LOS DATOS DEL CLIENTE"
tags: []
isStarred: false
isTrashed: false
