createdAt: "2018-07-18T00:39:26.164Z"
updatedAt: "2018-07-18T01:11:22.940Z"
type: "MARKDOWN_NOTE"
folder: "0fe456c2fe3ab010875c"
title: ""
content: ""
tags: [
  "casos_big_data"
]
isStarred: false
isTrashed: true
