createdAt: "2018-10-03T15:27:28.747Z"
updatedAt: "2018-10-03T16:11:47.131Z"
type: "MARKDOWN_NOTE"
folder: "24cb38cf2bc84305c3de"
title: ""
content: ""
tags: [
  "big_data_theory"
  "Data_orientada_a_negocio"
  "Build_Big_Data_Project"
]
isStarred: false
isTrashed: true
