createdAt: "2018-10-19T07:12:17.013Z"
updatedAt: "2019-04-07T20:00:13.448Z"
type: "MARKDOWN_NOTE"
folder: "48fbce2016d43f0faffa"
title: "Develop End-to-End Project"
content: '''
  ## Develop End-to-End Project
  
   **Primer Paso**: Implementar HDFS.
   
   
'''
tags: []
isStarred: false
isTrashed: true
