createdAt: "2019-07-30T04:59:14.689Z"
updatedAt: "2019-07-30T05:01:28.736Z"
type: "MARKDOWN_NOTE"
folder: "0fe456c2fe3ab010875c"
title: "Mis Casos de Uso"
content: '''
  ## Mis Casos de Uso
  
  ### Intelectia junto al negocio de mi madre
  
  Caso practico para llevar el negocio de mi madre a usar strategias data-driven.
  
  __PREGUNTAS A RESPONDER__
  
  ¿Quien es su buyer Persona? ¿Influye el poder definir su buyer persona dentro de su negocio? ***Recuerda buscar mas preguntas....***
'''
tags: []
isStarred: false
isTrashed: false
