createdAt: "2022-08-29T23:30:11.663Z"
updatedAt: "2022-08-29T23:32:02.674Z"
type: "MARKDOWN_NOTE"
folder: "ea7fabfaecef0910d2c8"
title: "ML Systems"
content: '''
  ### ML Systems
  
  TODO: Has los ejercicios y los repasos y en base a eso creas los documentos.
  
  
'''
tags: []
isStarred: false
isTrashed: true
