createdAt: "2019-10-20T04:40:12.076Z"
updatedAt: "2019-10-20T04:41:19.345Z"
type: "MARKDOWN_NOTE"
folder: "8af9713f3b0695b046b9"
title: "Data Studio"
content: '''
  ## Data Studio
  
  qwiklabs-gcp-00-886958715508:us-central1:flights
'''
tags: []
isStarred: false
isTrashed: false
