createdAt: "2020-10-06T05:07:48.185Z"
updatedAt: "2020-10-06T05:07:55.304Z"
type: "MARKDOWN_NOTE"
folder: "a431d02702033fa18596"
title: "Spark NLP"
content: '''
  ## Spark NLP
  
  
'''
tags: []
isStarred: false
isTrashed: false
