createdAt: "2018-09-28T02:02:34.316Z"
updatedAt: "2018-09-28T02:19:23.800Z"
type: "MARKDOWN_NOTE"
folder: "48fbce2016d43f0faffa"
title: "Hadoop Business Case: Why is not too much expensive"
content: '''
  ## Hadoop Business Case: Why is not too much expensive
  
  
'''
tags: []
isStarred: false
isTrashed: true
