createdAt: "2020-07-22T04:26:40.504Z"
updatedAt: "2020-07-25T20:00:30.771Z"
type: "MARKDOWN_NOTE"
folder: "6ce8e9fa5ab8d660e1a1"
title: "Hackthon AI Covid19"
content: '''
  ### Hackthon AI Covid19
  
  __List of problems based on steve list__
  
  - item number 2 - 
'''
tags: []
isStarred: false
isTrashed: true
