createdAt: "2018-06-21T02:42:07.541Z"
updatedAt: "2018-09-30T20:16:15.843Z"
type: "MARKDOWN_NOTE"
folder: "24cb38cf2bc84305c3de"
title: "Buyer Person"
content: '''
  ## Buyer Person
  
  Es una representacion ficticia generalizada de tus clientes ideales. Estos ayudan a entender mejor a tus clientes (y posibles clientes) y te facilitan la personalizacion del contenido de acuerdo a las necesidades, los comportamientos y las inquietudes especificos de diferentes grupos.
  
  Los buyer personas mas utiles son aquellos en los cuales se basan datos reales asi como la informacion que se recopila sobre tus clientes (a traves de metodos de captura de datos). De acuerdo al negocio, podrias tener de uno hasta 20.
  
  #### Buyer Personas Negativas
  
  Seria lo opuesto a un buyer persona. Basicamente, es la representacion de una persona el cual no quieres tener como cliente.
  
  #### Como usar los Buyer Person
  
  Permiten personalizar y definir tus objetivos de marketing digital para los diferentes segmentos de tu audencia. Por ejemplo, en lugar de enviar los mismos correos electrónicos de seguimiento de prospectos a todas las personas de tu base de datos, puedes segmentar por Buyer Persona y crear un mensaje de acuerdo con lo que sabes sobre esas Buyer Personas diferentes.
  
  Si encima creas Buyer Personas negativas, tendrás la ventaja adicional de poder segmentar las "manzanas podridas" del resto de tus contactos, ayudándote así a lograr un menor costo por prospecto y/o por cliente.
  
  #### Como crear tus Buyer Personas
  
  Se crean a partir de investigaciones hacia toda la informacion que tengas a tu alcance con respecto a tus clientes y clientes potenciales. Haciendo encuestas y entrevistas de tu audiencia objetivo. Esto incluye una mezcla de clientes, prospectos y aquellas personas que no están en tu base de datos pero que podrían alinearse con tu audiencia objetivo.
  
  - Entrevista a clientes en persona o por teléfono para descubrir qué les gusta de tu producto o servicio.
  - Analiza tu base de datos para descubrir tendencias sobre cómo determinados prospectos o clientes encuentran y consumen tu contenido.
  - Ten en cuenta también la información que te puede aportar tu equipo de ventas sobre
  los prospectos y cliente. Ellos son los que más interactúan con ellos (¿Qué generalizaciones pueden realizar sobre los diferentes tipos de clientes a los que mejor atiendes? ¿Retos comunes? ¿Patrones de comportamiento? Preguntas frecuentes)
  
  ***Existe una plantilla que podemos utilizar para organizar la informacion sobre nuestro buyer persona***
  
  ----
  
  #### Anexos
  
  [How to create personas](https://knowledge.hubspot.com/contacts-user-guide-v2/how-to-create-personas)
'''
tags: [
  "marketing"
  "Gestion_del_cliente_Big_Data"
  "Datos_y_Funnel"
]
isStarred: false
isTrashed: false
