createdAt: "2018-09-14T01:28:46.694Z"
updatedAt: "2018-09-19T01:45:33.395Z"
type: "MARKDOWN_NOTE"
folder: "4a17dc80ccbb28b98a68"
title: "Fases del proceso del dato - informacion - conocimiento"
content: '''
  ## Fases del proceso del dato - informacion - conocimiento
  
  
'''
tags: [
  "BIG_DATA_MODELATION"
  "BD_-_Research"
  "OMNICANALIDAD"
  "marketing"
  "big_data_theory"
]
isStarred: false
isTrashed: true
