createdAt: "2020-04-22T14:42:06.394Z"
updatedAt: "2020-06-30T04:17:35.511Z"
type: "MARKDOWN_NOTE"
folder: "2e56bbd9db6601e3e30a"
title: "Commercial Hadoop Distribution"
content: '''
  ## Commercial Hadoop Distribution
  
  #### Cloudera Manager
  
  
'''
tags: []
isStarred: false
isTrashed: true
